@charset "UTF-8";
:root {
    --fontVerde: #112B1E;
    --fontCinza: #9b9b9b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/imgFundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}